<!DOCTYPE HTML>

<html>
    <head>
        <title>
            Weather App 
        </title>
        <link rel="icon" href='/img/icon.png'
         </head>
        <link rel=stylesheet href='/css/style.css'>
        <script src = '/js/file.js'></script>
        <body>
            {{>header}}
            <br>
            <image class="imgprop" src = '/img/icon.png'></image>
<br>
            {{>footer}}
        </body>
   
</html>